* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MyFont';
    src: url(/fonts/Futura-Boo.ttf);
}

@font-face {
    font-family: 'BoldItalic';
    src: url(/fonts/Futura-BolObl.ttf);
}

@font-face {
    font-family: 'Bold';
    src: url(/fonts/Futura-Bol.ttf);
}

@font-face {
    font-family: 'Small';
    src: url(/fonts/Futura-DemObl.ttf);
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

nav {
    float: right;
    font-size: 32px;
    position: absolute;
    top: 0px;
    right: 40px;
    display: block;
}

nav li {
    list-style-type: none;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

nav a {
    color: #fff;
    margin: 14px 16px 0px;
    transition: 0.3s;
}

nav a:hover {
    color: #3b5cdb;
}

.section {
    font-family: "ヒラギノ角ゴシック Pro W3";
    margin-bottom: 120px;
}

/* mainvisualのスライドショー！ */

.bg-slider {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: MyFont;
}

/* スライドショー終わり */

.mainVisual {
    margin: 0 auto;
    height: 572px;
    padding-top: 300px;
}

h2,
h3 {
    text-align: center;
    display: block;
}

h2 {
    font-weight: 1000;
    font-family: BoldItalic;
    font-size: 50px;
    color: #fff;
}

h3 {
    font-weight: bold;
    font-size: 75px;
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: Bold;
    color: #3b5cdb;
    z-index: 10;
    opacity: 1;
}

.content {
    padding: 16px 0;
    overflow: hidden;
    line-height: 1.9;
}

.right-box,
.left-box {
    float: left;
    width: 400px;
    padding: 30px 40px;
    letter-spacing: 0.03px;
}

.left-box {
    margin-right: 18px;
}

.right-box {
    margin-left: 18px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 16px;
}

img.image1,
img.image2 {
    float: left;
}

.pcNone, #pcNone {
    display: none;
}

a.signButton1,
a.signButton2,
.button {
    color: #ffffff;
    border-radius: 12px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

a.signButton1:hover,
a.signButton2:hover,
a.button:hover {
    -webkit-box-shadow: 0 0 3px gray;
    box-shadow: 0 0 8px -3px gray;
}

a.signButton1,
a.signButton2 {
    font-size: 22px;
    padding: 3px 45px;
    width: 90px;
}

a.signButton1 {
    background-color: #3b5cdb;
}

a.signButton2 {
    background-color: #ffbf00;
}

.f-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    margin: 0 200px;
}

.f-item {
    width: 280px;
    height: 350px;
    margin: 15px 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    padding-top: 40px;
    position: relative;
    background-color: #fff;
    z-index: 1;
}

.f-item > p {
    margin-top: 80px;
    margin-bottom: 30px;
}

.image {
    width: 200px;
    height: 120px;
    margin: 0 auto;
}

.button {
    font-size: 15px;
    padding: 10px 25px;
    width: 140px;
    margin-bottom: 20px;
}

#html {
    background-color: #f04e1d;
}

#css {
    background-color: #1c9de8;
}

#unity {
    background-color: #000;
}

#ruby {
    background-color: #e00d1f;
}

#js {
    background-color: #f7c707;
}

#swift {
    background-color: #f04e1d;
}

#go {
    background-color: #6bd9e8;
}

/* particles.js */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #bad5f5;
    background-color: rgba(186, 213, 245, 0.3);
    /*
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
*/
    display: block;
    padding: 50px 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#courses h3 {
    position: relative;
}

/* particles.js 終わり */

#image {
    margin-bottom: 280px;
}

/* slick使ってくよ */
.slider {
    margin: 100px auto;
    width: 80%;
}

.slider img {
    height: auto;
    width: 100%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

/* slick終わり */

#access {
    width: 700px;
    margin: 0 auto;
}

.map {
    width: 700px;
    margin: 0 auto;
    padding: 30px 0;
}

footer {
    text-align: center;
    margin: 30px;
    font-family: Myfont;
    color: #3b5cdb;
    font-size: 20px;
}


/* jQuery fuwat*/

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

/* jQuery fuwat終わり */

/* メディアクエリ */

/* 上記は全て、1024px以上の幅の場合に適応される */

@media screen and (max-width: 1024px) {

    /* 1024pxまでの幅の場合に適応される */
    /*　for iPad 　*/
    nav {
        display: block;
    }

    .bg-slider {
        height: 100%;
    }

    .mainVisual > img {
        width: 400px;
    }

    h2 {
        font-size: 40px;
        font-family: Small;
    }

    .container {
        width: 600px;
    }

    .right-box,
    .left-box {
        padding: 40px 20px;
        margin: 0px;
        width: 560px;
    }

    img.image1,
    img.image2 {
        clear: both;
        width: 600px;
    }

    a.signButton1,
    a.signButton2 {
        margin-top: 40px;
    }

    .spNone, #pcNone {
        display: none;
    }

    .pcNone, #spNone {
        display: block;
    }

    .f-container {
        margin: 0px 0px;
    }

}

@media screen and (max-width: 768px) {

    /* 768pxまでの幅の場合に適応される */

}

@media screen and (max-width: 480px) {

    /* 480pxまでの幅の場合に適応される */
    nav {
        display: none;
    }

    .bg-slider {
        height: 100%;
    }

    .mainVisual > img {
        width: 320px;
    }

    h2 {
        font-size: 25px;
        font-family: Small;

    }

    .container {
        width: 320px;
    }

    h3 {
        font-size: 36px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .right-box,
    .left-box {
        padding: 30px 8px;
        margin: 0px;
        width: 304px;
        font-size: 12.5px;
        letter-spacing: 0.02px;
    }

    img.image1,
    img.image2 {
        clear: both;
        width: 320px;
    }

    a.signButton1,
    a.signButton2 {
        padding: 5px 50px;
        font-size: 15px;
        width: 66px;
    }

    .section {
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .f-item {
        width: 160px;
        height: 200px;
    }

    .spNone, #spNone {
        display: none;
    }

    .pcNone, #pcNone {
        display: block;
    }

    .f-container {
        margin: 0px 0px;
    }

    .image > img {
        width: 50px;
        margin: 0 auto;
    }

    .image {
        width: 160px;
        height: 100px;
    }

    .f-item > p {
        margin-top: 0px;
        margin-bottom: 24px;
        font-size: 5px;
    }

    .button {
        font-size: 1px;
        padding: 10px 6px;
        width: 90px;
        margin-bottom: 0px;
        border-radius: 20px;
    }
    
    .slider{
        margin-top: 40px;
    }
    
    #access {
        padding-top: 50px;
        width: 350px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 350px) {

    /* 350pxまでの幅の場合に適応される */
    nav {
        display: none;
    }

    .bg-slider {
        height: 100%;
    }

    .mainVisual > img {
        width: 300px;
    }

    h2 {
        font-size: 30px;
        font-family: Small;
    }
}
